vllm==0.8.5
torch==2.6.0
transformers==4.51.3
ray[cgraph]==2.43.0
numpy==1.26.4
datasets==3.6.0
accelerate==1.6.0
codetiming==1.4.0
hydra-core==1.3.2
peft==0.15.2
pylatexenc==2.10
pyarrow==19.0.1
torchdata==0.11.0
wandb==0.19.11
math-verify==0.6.0
tensordict==0.10.0
pyvers==0.1.0
dill==0.3.8
pandas==2.2.3
pybind11==2.13.6
tensorboard==2.19.0
protobuf==4.25.9
pytest==8.3.5
